{% extends "../base.html" %}

{% block opengraph %}
<meta property="og:title" content="{{ filename }} ({{ size }})" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ siteurl }}{{ sitepath }}{{ filename }}" />
{% endblock %}

{% block twittercard %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ filename }} ({{ size }})" />
{% endblock %}

{% block title %}{{sitename}} - {{ filename }}{% endblock %}

{% block bodymore %}{% endblock %}

{% block content %}

<div id="info" class="dinfo info-flex">
    <div id="filename">
        {{ filename }}
    </div>

    <div class="info-actions">
        {% if expiry %}
        <span>file expires in {{ expiry }}</span> |
        {% endif %}
        {% block infomore %}{% endblock %}
        <span>{{ size }}</span> |
        <a href="{{ filename }}/torrent" download>torrent</a> |
        <a href="{{ sitepath }}{{ selifpath }}{{ filename }}" download>get</a>
    </div>

    {% block infoleft %}{% endblock %}
</div>

<div id="main" {% block mainmore %}{% endblock %}>

    <div id='inner_content' {% block innercontentmore %}{% endblock %}>
        {% block main %}{% endblock %}
    </div>

</div>

<script src="{{ sitepath }}static/js/clipboard.js"></script>
{% endblock %}
